<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mynav">
        <a class="navbar-brand " href="#"><img src="~/Content/Images/logo.png" alt="Test"  class="logo" id="logo"/></a>
        
        <div class="slogan offset-4 "><h1>My test blog</h1></div>
        
    </nav>
    
    <div class="content"> @RenderBody()</div>
       
  
      
   

   
    <footer class="container-fluid  ">
        <div class="row">
             <div class="offset-1 col-4 cpy"><p class="copy">&copy; Alex Grebtsov 2020</p>
            </div>
             <div class=" offset-5 col-1 anchor"><a href="#logo">Top</a></div>
       </div>
    </footer>

  
</body>
</html>